:root {
  --table-column-template: 2fr 3fr 1fr;
}

* > button {
  margin: 0.25rem;
}

.directory-list-body {
  display: flex;
  width: calc(100vw - 3em);
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  overflow: hidden;
  padding: 1em;
}

.directory-list-item {
  display: grid;
  grid-template-columns: var(--table-column-template);
  width: 100%;
  padding: 0.2em;
  border: 1px solid #ccc;
}

.directory-list-item:nth-child(odd) {
  background-color: #e7e3e3;
}

.directory-list-search {
  padding: 1em;
}

.directory-list-search-footer {
  font-size: small;
  text-align: center;
  color: grey;
  font-style: italic;
}

.filename-column {
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-family: monospace;
}

.filename-column>button {
  margin-left: 0.5em;
  margin-right: 0.25em;
  width: 80px;
  grid-column: 1;
}

.filename-column-item {
  text-align: right;
  grid-column: 2;
}

.tags-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 100px));
  grid-template-rows: repeat(auto-fit, min-content);
}

.tags-column>button {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.directory-controls {
  display: flex;
  align-items: center;
  width: 100vw;
  height: auto;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin-bottom: 1rem;
  overflow: scroll;
}

.directory-list-title {
  display: grid;
  grid-template-columns: var(--table-column-template);
  width: 100%;
}

.filename-column-item.directory {
  color: rgb(0, 116, 170);
  font-style: italic;
}

.filename-column-item.directory::after {
  content: "/";
}
