

.search-container-header {
display: grid;
}

.search-container-header-and {
  grid-column: 1;
padding: 0.5rem;

}

.search-container-header-or {
  grid-column: 2;
padding: 0.5rem;

}

.and-column-item {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.and-column-condition {
  grid-column: 1;
  padding: 0.5rem;
}

.and-column-button {
  grid-column: 2;
  padding: 0.5rem;
}

.search-clear-button {
  width: 10vw;
  min-width: min-content;
}

.search-recurse-button {
  font-weight: bolder;
  color: red;
}
